/* 
    Document   : upload_page
    Created on : 4-mag-2013, 1.19.12
    Author     : p_vag
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#upload_img {

}